* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  background-color: #e2e2e2;
}

h2 {
  padding: 20px 0;
  text-align: center;
  font-size: 50px;
  color: #c7100b;
  text-shadow: 3px 3px 3px rgba(82, 82, 82, 0.66);
}

.wrapper {
  width: 80%;
  min-height: 1900px;
  padding: 40px 20px;
  margin: 0 auto;
  background-color: #fff;
}

.carousel-wrapper {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  width: 600px;
  padding: 10px;
  border: 1px solid #525252;
  border-radius: 5px;
  margin: 20px auto 60px;
}

.jcarousel {
  overflow: hidden;
}

.jcarousel ul {
  width: 20000em;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}

.jcarousel li {
  float: left;
  /*width: 100px;*/
}

.jcarousel-prev,
.jcarousel-next {
  position: absolute;
  top: 200px;
  width: 30px;
  height: 30px;
  text-align: center;
  background: #4E443C;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 0 1px #000;
  font: 24px/27px Arial, sans-serif;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: 0 0 2px #999;
  -moz-box-shadow: 0 0 2px #999;
  box-shadow: 0 0 2px #999;
}

.jcarousel-prev {
  left: -35px
}

.jcarousel-next {
  left: 605px
}

.jcarousel-pagination {
  position: absolute;
  bottom: 20px;
  left: 25px;
}

.jcarousel-pagination a {
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  line-height: 14px;
  min-width: 14px;
  background: #fff;
  color: #4E443C;
  border-radius: 14px;
  padding: 3px;
  text-align: center;
  margin-right: 2px;
  opacity: .75;
}

.jcarousel-pagination a.active {
  background: #4E443C;
  color: #fff;
  opacity: 1;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
}

/*====== CUSTOM - SELECT AND CHECKHBOX========*/

.select-wrapper {
  /*text-align: center;*/
}

.chosen-container {
  margin: 0 40px;
}

.checkbox-wrapper {
  margin-top: 20px;
}

.custom-check {
  width: 17px;
  height: 17px;
  display: inline-block;
  cursor: pointer;
  background: url(../img/checkbox-sprite.png);
  overflow: hidden;
}

.custom-check {
  background-position: 0 -17px;
}

.custom-check input {
  margin-left: -100px;
}

.custom-checkDisabled {
  background-image: url(../img/checkbox-disabled.png);
}

/*===CUSTOM CHECKBOX JS ========*/

.checkbox-js {
  background-color: #2db0ff;
  padding: 20px;
  margin: 20px 60px;
}

.decor_checkbox span input[type="checkbox"] {
  /*display: none;*/
}

.decor_checkbox {
  /*display: inline-block;*/
  margin-bottom: 5px;
  vertical-align: middle;
}

.decor_checkbox span {
  display: inline-block;
  cursor: pointer;
  width: 17px;
  height: 17px;
  background: url(../img/checkbox-sprite.png) no-repeat 0 0;
  margin: 0 5px;
  vertical-align: middle;
}

.check_active span {
  background-position: 0 -17px;
}

.check_active-dis.check_active span {
  background: url(../img/checkbox-disabled.png) no-repeat 0 -17px;
}

.no-check-dis span {
  background: url(../img/checkbox-disabled.png) no-repeat 0 0;
}

/*===CUSTOM CHECBOX CSS========*/

.custom-checkbox-css,
.custom-radio-css {
  margin: 25px;
  list-style: none;
}

input[type="checkbox"],
input[type="radio"] {
  display: none;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  font: 18px bold;
  color: #444;
  cursor: pointer;
}

input[type="checkbox"] + label::before,
input[type="radio"] + label::before {
  content: "";
  display: inline-block;
  height: 18px;
  width: 18px;
  margin: 0 5px 0 0;
  background-image: url(../img/sprite-checkbox.png);
  background-repeat: no-repeat;
}

input[type="checkbox"] + label::before {
  background-position: -38px -260px;
}

input[type="radio"] + label::before {
  background-position: 0px -279px;
}

input[type="checkbox"]:checked + label::before {
  background-position: -114px -260px;
}

input[type="radio"]:checked + label::before {
  background-position: -108px -279px;
}

input[type="checkbox"]:disabled + label::before {
  background-position: -152px -260px;
}

input[type="checkbox"]:checked:disabled + label::before {
  background-position: -171px -260px;
}

input[type="radio"]:disabled + label::before {
  background-position: -144px -279px;
}

input[type="radio"]:checked:disabled + label::before {
  background-position: -162px -279px;
}

/*===DROP-DOWN MENU========*/

.topmenu {
  margin-top: 30px;
}

.topmenu ul {
  list-style: none;
}

.menu-wrapper {
  margin-top: 30px;
  padding: 10px;
  text-align: center;
}

.menu-horizontal a {
  text-decoration: none;
  color: whitesmoke;
  display: block;
  line-height: 40px;
}

.menu-horizontal a:hover {
  color: rgb(50, 50, 50);
}

.menu-horizontal > li {
  position: relative;
  display: inline-block;
  width: 16%;
  height: 40px;
  background-color: #c7100b;
}

.menu-horizontal li ul {
  background-color: #E14B4B;
  position: absolute;
  left: 0;
  top: 40px;
  width: 100%;
}

.menu-horizontal li li {
  position: relative;
}

.menu-horizontal li li a {
  border-bottom: solid 1px rgb(200, 50, 50);
  margin: 0 10px;
}

.menu-horizontal li li ul {
  position: absolute;
  top: 0;
  left: 100%;
  margin: 0;
}

.sub-menu:after {
  content: ' ►';
  font-size: 10px;
}

.drop-menu:after {
  content: ' ▼';
  font-size: 10px;
}
